/[Uu]nity/[Ll]ibrary/
/[Uu]nity/[Tt]emp/
/[Uu]nity/[Oo]bj/
/[Uu]nity/[Bb]uild/
/[Uu]nity/[Bb]uilds/
/[Uu]nity/[Ll]ogs/
/[Uu]nity/[Mm]emoryCaptures/
/[Uu]nity/[Uu]serSettings/

# Unity-generated Visual Studio / VS Code files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity Asset Store packages
/[Uu]nity/Assets/AssetStoreTools*

# Blender auto-saves and backups
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.publisher
.DS_Store
